
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif; 
    
}
body{
     background: rgb(182, 225, 237);
}
/*
.search-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}*/
nav{
    background-color: rgb(81, 7, 7);
    color:aliceblue;
}

/* .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
     
} */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width:1200px ;
    margin:0 auto;
    padding: 18px;
    font-size: 30px;
    color:rgb(242, 242, 242);
}
/* .search-container{
    display: flex;
    justify-content:center;
    align-items: flex-end;
    max-width: 1200px;
    margin:0 auto;
    padding: 10px 18px;
} */
.search-container input , button{
    padding:5px 10px;
    border:none;
    font-size: 20px;

}
.search-container input{
    border-radius: 3px 0 0 3px;
}
.search-container button{
    
    border-radius: 0 3px 3px 0;
    background: #f5c518;
    /* background:rgb(224, 218, 24); */
    color: black;
    cursor: pointer;
    transition: all 0.5s;
}
.search-container button:hover{
    background-color: #fdc200;
    color:rgb(30, 13, 218);
    font-weight: 600;
}
/* main styling */
main{
    width: 1200px;
    margin: 0 auto;
    block-size: 40px;
}
main section{
    display:flex;
    justify-content: center;
    align-items: center; 
    min-height: 72vh;
}
.movie-container{
    display: flex;
    justify-content: center;
    background: #ffff ;
    box-shadow: 0px 0px 1.5rem #125455;
    width: 80%;
    border-radius: 10px;
    font-size: 20px;

}
.movie-poster img{
    height: 450px;
    margin-right:30px ;
    border-radius: 10px 0 0 10px;
}

.movie-info{
    padding-inline: 15px;

}
.movie-info h2{
    text-align: center;
    font-size: 32px;
    margin:20px 0 12px 0;
}

.movie-info h2+p{
    text-align: center;
}
.movie-info .movie-genre{
    display: flex;
    justify-content: center;
    margin-block: 5px;
    overflow-x: auto;
}
.movie-info .movie-genre p{
    background: #232f3e ;
    color:#ffff;
    padding: 5px 14px;
    margin-inline: 5px;
    border: 2px solid #000000;
    border-radius: 6px;
    font-weight:700;
}

.movie-info p{
    font-size: 18px;
    margin-block: 16px ;
    line-height :24px;

}

.movie-container.noBackground{
    background: none ;
    box-shadow: none;
    align-items: center;
}
/* footer styling*/
/* footer{
    text-align: center;
    background-color: rgb(81, 7, 7);
    color: beige;
    padding-block: 20px;
    margin-top: 100%;
    font-size:30px; */
    /* min-height: 100vh; */
/* } */

/* responsive code */
@media screen and  (max-width:950px){
    .movie-container{
        margin-top:15px;
        flex-direction: column; 
    } 
    .movie-poster img{
        width:100%;
        height:fit-content;
    }
    .movie-info{
        padding-inline: 30px;
    }

    main{
        width: 100%;
    }

}  

@media screen and  (max-width:630px){

    .navbar{
        flex-direction:column ;
        justify-content: center;
        align-items: center;
    }
    .search-container{
        margin-top: 12px;
    }
    
} 

